/* src/components/FlipCard.css */

.flip-container {
  perspective: 1200px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto !important;
  margin-top: 0px !important;
  position: relative;
}


.flipper {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flipper.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: relative;         /* make forms flow naturally */
  width: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
}
