/* Registration Page Specific Styles */
.registration-page-container {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.registration-page-container .flip-container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.registration-page-container .form-container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Override any existing styles */
.main-content:has(.registration-page-container) {
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
